[Adblock Plus 2.0]
! Title: EasyList
! Version: %version%
! Last modified: %timestamp%
! Expires: 6 days (update frequency)
%include easylist:template_header.txt%
!
!-----------------------General advert blocking filters-----------------------!
%include easylist:easylist/easylist_general_block.txt%
%include easylist:easylist/easylist_general_block_dimensions.txt%
%include easylist:easylist/easylist_general_block_popup.txt%
!------------------------General element hiding rules-------------------------!
%include easylist:easylist/easylist_general_hide.txt%
%include easylist:easylist/easylist_allowlist_general_hide.txt%
!---------------------------Third-party advertisers---------------------------!
%include easylist:easylist/easylist_adservers.txt%
%include easylist:easylist/easylist_adservers_popup.txt%
%include easylist:easylist_adult/adult_adservers.txt%
%include easylist:easylist_adult/adult_adservers_popup.txt%
!-----------------------------Third-party adverts-----------------------------!
%include easylist:easylist/easylist_thirdparty.txt%
%include easylist:easylist/easylist_thirdparty_popup.txt%
%include easylist:easylist_adult/adult_thirdparty.txt%
%include easylist:easylist_adult/adult_thirdparty_popup.txt%
!----------------------Specific advert blocking filters-----------------------!
%include easylist:easylist/easylist_specific_block.txt%
%include easylist:easylist/easylist_specific_block_popup.txt%
%include easylist:easylist_adult/adult_specific_block.txt%
%include easylist:easylist_adult/adult_specific_block_popup.txt%
!------------------------Specific element hiding rules------------------------!
%include easylist:easylist/easylist_specific_hide.txt%
%include easylist:easylist/easylist_specific_hide_abp.txt%
%include easylist:easylist_adult/adult_specific_hide.txt%
!-----------------------Allowlists to fix broken sites------------------------!
%include easylist:easylist/easylist_allowlist.txt%
%include easylist:easylist/easylist_allowlist_dimensions.txt%
%include easylist:easylist/easylist_allowlist_popup.txt%
%include easylist:easylist_adult/adult_allowlist.txt%
%include easylist:easylist_adult/adult_allowlist_popup.txt%
