[Adblock Plus 2.0]
! Title: EasyList – Newsletter Notices
! Version: %version%
! Last modified: %timestamp%
! Expires: 7 days (update frequency)
%include easylist:template_header.txt%
!
!--------------------------General blocking rules-----------------------------!
%include easylist:fanboy-addon/fanboy_newsletter_general_block.txt%
!------------------------General element hiding rules-------------------------!
%include easylist:fanboy-addon/fanboy_newsletter_general_hide.txt%
!-------------------------Third-party blocking rules--------------------------!
%include easylist:fanboy-addon/fanboy_newsletter_thirdparty.txt%
!--------------------------Specific blocking filters--------------------------!
%include easylist:fanboy-addon/fanboy_newsletter_specific_block.txt%
%include easylist:fanboy-addon/fanboy_newsletter_shopping_specific_block.txt%
!------------------------Specific element hiding rules------------------------!
%include easylist:fanboy-addon/fanboy_newsletter_specific_hide.txt%
%include easylist:fanboy-addon/fanboy_newsletter_specific_uBO.txt%
%include easylist:fanboy-addon/fanboy_newsletter_shopping_specific_uBO.txt%
%include easylist:fanboy-addon/fanboy_newsletter_shopping_specific_hide.txt%
!------------------------Rules for international sites------------------------!
%include easylist:fanboy-addon/fanboy_newsletter_international_block.txt%
%include easylist:fanboy-addon/fanboy_newsletter_international_hide.txt%
!---------------------------------Allowlists----------------------------------!
%include easylist:fanboy-addon/fanboy_newsletter_allowlist.txt%
%include easylist:fanboy-addon/fanboy_newsletter_allowlist_general_hide.txt%
%include easylist:fanboy-addon/fanboy_newsletter_shopping_allowlist.txt%
%include easylist:fanboy-addon/fanboy_newsletter_shopping_allowlist_general_hide.txt%
