[Adblock Plus 2.0]
! Title: EasyList – Anti-Chat
! Last modified: %timestamp%
! Expires: 7 days (update frequency)
!
%include easylist:template_header.txt%
!
%include easylist:fanboy-addon/fanboy_chatapps_third-party.txt%
