[Adblock Plus 2.0]
! Title: EasyList – Anti AI Suggestions
! Expires: 9 days
! Last modified: %timestamp%
%include easylist:template_header.txt%
!
%include easylist:fanboy-addon/fanboy_ai_suggestions.txt%
