[Adblock Plus 2.0]
! Title: EasyList – Chat Widgets
! Version: %version%
! Last modified: %timestamp%
%include easylist:template_header.txt%
!
%include easylist:fanboy-addon/fanboy_chatapps_third-party.txt%
