[Adblock Plus 2.0]
! Title: EasyList – Annoyances
! Version: %version%
! Last modified: %timestamp%
! Expires: 7 days (update frequency)
%include easylist:template_header.txt%
!
!--------------------------General blocking rules-----------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_general_block.txt%
!------------------------General element hiding rules-------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_general_hide.txt%
!-------------------------Third-party blocking rules--------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_thirdparty.txt%
!--------------------------Specific blocking filters--------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_specific_block.txt%
!------------------------Specific element hiding rules------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_specific_hide.txt%
%include easylist:fanboy-addon/fanboy_annoyance_specific_uBO.txt%
!------------------------Rules for international sites------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_international.txt%
!---------------------------------Allowlists----------------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_allowlist.txt%
%include easylist:fanboy-addon/fanboy_annoyance_allowlist_general_hide.txt%
