[Adblock Plus 1.1]
! Title: EasyPrivacy
! Expires: 6 days (update frequency)
! Last modified: %timestamp%
! Diff-Path: %diffpath%#easyprivacy
! Diff-Expires: 317 minutes

%include easylist:template_header.txt%
!
!-----------------General tracking systems-----------------!
%include easylist:easyprivacy/easyprivacy_general.txt%
%include easylist:easyprivacy/easyprivacy_general_emailtrackers.txt%
!-----------------Third-party tracking domains-----------------!
%include easylist:easyprivacy/easyprivacy_trackingservers_general.txt%
%include easylist:easyprivacy/easyprivacy_trackingservers_thirdparty.txt%
%include easylist:easyprivacy/easyprivacy_trackingservers_mining.txt%
%include easylist:easyprivacy/easyprivacy_trackingservers_admiral.txt%
%include easylist:easyprivacy/easyprivacy_trackingservers_notifications.txt%
%include easylist:easyprivacy/easyprivacy_trackingservers.txt%
!-----------------International third-party tracking domains-----------------!
%include easylist:easyprivacy/easyprivacy_trackingservers_international.txt%
!-----------------Third-party tracking services-----------------!
%include easylist:easyprivacy/easyprivacy_thirdparty.txt%
!-----------------International third-party tracking services-----------------!
%include easylist:easyprivacy/easyprivacy_thirdparty_international.txt%
!-----------------Individual tracking systems-----------------!
%include easylist:easyprivacy/easyprivacy_specific.txt%
%include easylist:easyprivacy/easyprivacy_specific_perimeterx.txt%
!-----------------Extension specific systems-----------------!
%include easylist:easyprivacy/easyprivacy_specific_uBO.txt%
!-----------------Individual cname tracking systems-----------------!
%include easylist:easyprivacy/easyprivacy_specific_cname_dataunlocker.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_a8net.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_plausible.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_tracedock.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_at-internet.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_adobe.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_acton.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_commanders-act.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_ingenious-technologies.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_np6.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_criteo.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_oracle.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_ad-ebis.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_eulerian.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_keyade.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_lead-forensics.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_webtrekk.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_wizaly.txt%
%include easylist:easyprivacy/easyprivacy_specific_cname_branch.txt%
!-----------------International individual tracking systems-----------------!
%include easylist:easyprivacy/easyprivacy_specific_international.txt%
!-----------------------Allowlists to fix broken sites------------------------!
%include easylist:easyprivacy/easyprivacy_allowlist.txt%
!----------------Allowlists to fix broken international sites-----------------!
%include easylist:easyprivacy/easyprivacy_allowlist_international.txt%
