! Title: uBlock filters – Quick fixes
! Last modified: %timestamp%
! Expires: 12 hours
! Diff-Path: %diffpath%
! Diff-Name: ublock-quick-fixes
! Diff-Expires: 6 hours
! License: https://github.com/uBlockOrigin/uAssets/blob/master/LICENSE

%include uAssets:filters/quick-fixes.txt%
