! Title: uBlock filters – Badware risks
! Expires: 5 days
! Last modified: %timestamp%
! Diff-Path: %diffpath%
! Diff-Name: ublock-badware
! Diff-Expires: 6 hours
! License: https://github.com/uBlockOrigin/uAssets/blob/master/LICENSE

%include uAssets:filters/badware.txt%
