! Title: uBlock filters – Privacy
! Expires: 7 days
! Last modified: %timestamp%
! Diff-Path: %diffpath%
! Diff-Name: ublock-privacy
! Diff-Expires: 6 hours
! License: https://github.com/uBlockOrigin/uAssets/blob/master/LICENSE

%include uAssets:filters/privacy.txt%

%include uAssets:filters/resource-abuse.txt%
