! Title: uBlock filters – Annoyances
! Expires: 7 days
! Last modified: %timestamp%
! Diff-Path: %diffpath%
! Diff-Name: ublock-annoyances
! Diff-Expires: 6 hours
! License: https://github.com/uBlockOrigin/uAssets/blob/master/LICENSE

%include uAssets:filters/annoyances.txt%
