! Title: uBlock₀ filters – Unbreak
! Last modified: %timestamp%
! Expires: 5 days
! Diff-Path: %diffpath%
! Diff-Name: ublock-unbreak
! License: https://github.com/uBlockOrigin/uAssets/blob/master/LICENSE

%include uAssets:filters/unbreak.txt%
